@import "../abstracts/mixins";
@import "../abstracts/variables";

.mb-40 {
  margin-bottom: 40px;
}


.s-gallery {
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;

    &-wrap {
      padding-top: 90%;
      position: relative;
      overflow: hidden;
    }
  }

  &__inner {
    margin-top: 25px;
    /* @media (min-width: 1200px) {
       margin-right: calc((-100vw + 1091px) / 2);
     }*/
  }
}

.s-text {
  &__img {
    margin: 40px auto 0 auto;

    max-height: 480px;
  }
}

.s-banner {

  &__content {
    padding: 173px 0 153px 0;

    & .heading {
      margin-bottom: 10px;
    }

    & .date {
      margin-bottom: 15px;
    }

    & .description {
    }

    & .btn-primary {
      margin-top: 42px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    & picture {
      display: block;

      height: 100%;
    }

    & img {
      height: 100%;
      max-width: none;
      min-width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.s-introduce {
  margin-bottom: 70px;

  & .btn-primary {
    margin-top: 40px;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &__wrap {
      position: relative;
      padding-bottom: 100%;

      @media (max-width: $breakpoint-md) {
        margin-top: 30px;
      }
    }
  }


  &__content {
    padding-bottom: 50px;
  }

  & .heading {
    margin-bottom: 27px;
    color: $accentColor;
  }

  &__row {
    &:not(&:last-child) {
      padding-bottom: 50px;
      @media (max-width: $breakpoint-sm) {
      }
    }

    &:nth-child(odd) {
      @media (min-width: $breakpoint-md) {
        flex-direction: row-reverse;
      }
    }
  }

  .bg-entry {
    position: relative;
    height: calc(100% + 100px);

    & img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.s-video {
  & .btn-pulse {
    bottom: 40px;
    left: 40px;
    @media (max-width: $breakpoint-md) {
      right: auto;
      bottom: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}

.preload {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);


  &__wrap {

    position: relative;
    padding-bottom: 100%;
    border-radius: 0;
    overflow: hidden;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
      position: absolute;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
  }

  .btn-play {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 160px;
    z-index: 6;
    cursor: pointer;
  }
}
